name: Python CI Demo

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run tests
        run: python -m unittest discover

